{% extends "template-base.html" %}
{% block head %}

    <!-- syntax highlighting -->
    <link rel="stylesheet" href="/assets/css/docco.min.css" />
    <script src="/assets/js/highlight.min.js"></script>

    <script>
        $(document).ready(function() {
            $(".multicode").minitabs();
            hljs.initHighlighting();
            make_code_expandable();
        });
    </script>

{% endblock %}

{% block main %}
  <section class="pt-3 p-md-3">
    <article class="dactyl-content">
      {{ content }}
    </article>
  </section>
{% endblock %}

{% block right_sidebar %}
{% include 'template-page-toc.html' %}
{% endblock %}

{% block endbody %}
{% if target.google_analytics_tag is defined %}
<script type="application/javascript">
  gtag('set', {'content_group1': 'Content Docs'});
</script>
{% endif %}
{% endblock %}
