<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ currentpage.name }} - {{target.display_name}}</title>

    <!-- Vendor JS -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Stylesheet -->
    <link href="assets/css/dactyl.css" rel="stylesheet" />
    <link href="assets/css/pdf.css" rel="stylesheet" />


    <!-- syntax highlighting -->
    <link rel="stylesheet" href="assets/css/docco.min.css">
    <script src="assets/js/highlight.min.js"></script>
    <script>
        $(document).ready(function() {
            hljs.initHighlighting();
        });
    </script>

    {% block head %}

    {% endblock %}

</head>

<body class="dactyl {% block bodyclasses %}{% endblock %}">
    {% block body %}
    <div class="container-fluid" role="document" id="main_content_wrapper">
      <div class="row">
        <main class="main content col-md-12 {% block mainclasses %}{% endblock %}" role="main" id="main_content_body">
          {% block main %}
            {{ content }}
          {% endblock %}
        </main>
      </div>
    </div>
    {% endblock %}

    <footer>{% block footer %}(Exported {{ current_time }}){% endblock %}</footer>

<!-- Non-blocking resources -->
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- fontawesome icons -->
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />

</body>
</html>
